<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net40" requireReinstallation="true" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="UIAComWrapperX" version="1.1.0.14" targetFramework="net452" />
</packages>